:root  > * {
  --md-primary-fg-color:        #F1002B;
  --md-primary-fg-color--light: #F1002B;
  --md-primary-fg-color--dark:  #af0510;

  --md-accent-fg-color:        #F1002B;
  --md-accent-fg-color--light: #F1002B;
  --md-accent-fg-color--dark:  #af0510;
}

/* :root > * {
  --md-footer-bg-color: var(--md-primary-fg-color);
  --md-footer-fg-color: var(--md-primary-bg-color);
  --md-footer-fg-color--light: var(--md-primary-bg-color--light);
  --md-footer-fg-color--lighter: var(--md-primary-bg-color--lighter);
} */

[data-md-color-scheme="jd"] {
  --md-primary-fg-color:        #FB002B;
  --md-primary-fg-color--light: #FB002B;
  --md-primary-fg-color--dark:  #af0510;

  --md-accent-fg-color:        #FB002B;
  --md-accent-fg-color--light: #FB002B;
  --md-accent-fg-color--dark:  #af0510;
}

